/RestDDCApi/nbproject/private/
/RestDDCApi/build/
/DDC_Soap_Services/nbproject/private/
/DDC_Soap_Services/build/
/DDCSOAPDisplay/nbproject/private/
/DDCSOAPDisplay/build/
/DDCSOAPClient/nbproject/private/
/DDCSOAPClient/build/
/DDCSOAPClient/dist/
